<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="css/index.css">
</head>

<body>
    <header>
        <div class="container">
            <h1 class="titulo">Portifólio de Investimentos</h1>
        </div>
    </header>
    <main>
        <section class="container tab-acao">
            <h2 class="sub-titulo"> Carteira de Ações</h2>
            <table id="tabela-acoes">
                <thead>
                    <tr>
                        <th>Ticker</th>
                        <th>Empresa</th>
                        <th>Setor</th>
                        <th>Preço (R$)</th>
                        <th>Quantidade</th>
                        <th>Custo (R$)</th>
                        <th>Valor de Mercado (R$)</th>
                        <th>Ganho (R$)</th>
                        <th>Retorno (%)</th>
                        <th>Peso (%)</th>
                    </tr>
                </thead>
                <tbody id="tabela-acoes">
                        <% for(var i = 0; i < lista.length; i++) { %>

                        <tr class="acao">
                            <td><%= lista[i].ticker %></td>
                            <td><%= lista[i].company_name %></td>
                            <td><%= lista[i].sector %></td>
                            <td><%= lista[i].date_buy %></td>
                            <td><%= lista[i].price %></td>
                            <td><%= lista[i].quantity %></td>
                            <td><%= lista[i].cost_basis %></td>
                            <td><%= lista[i].mkt_value %></td>
                            <td><%= lista[i].gain_cash %></td>
                            <td><%= lista[i].overall_return %></td>
                            <td><%= lista[i].weight %></td>
                        </tr>

                        <% } %>
                </tbody>
            </table>
        </section>
    </main>
    <section class="container">
        <h2 id="titulo-form">Adicionar nova Ação</h2>
        <ul id="mensagens-erro"></ul>
        <form id="form-adiciona" action="/carteiras" method="post">
            <!-- <div class="grupo-info">
                <label for="tipo">Tipo:</label>
                <select id="tipo" name="type" class="campo">
                  <option value="buy">Comprar</option>
                  <option value="sell">Vender</option>
              </select> -->
          </div>
            <div class="grupo">
                <label for="adiciona-ticker">Código:</label>
                <input id="adiciona-ticker" name="ticker" type="text" placeholder="digite o código da ação" class="campo campo-medio">
            </div>
            <div class="grupo">
                <label for="adiciona-empresa">Empresa:</label>
                <input id="adiciona-empresa" name="company_name" type="text" placeholder="digite o nome da empresa" class="campo campo-medio">
            </div>
            <div class="grupo">
                <label for="adiciona-setor">Setor:</label>
                <input id="adiciona-setor" name="sector" type="text" placeholder="digite o setor da empresa" class="campo campo-medio">
            </div>
            <div class="grupo">
                <label for="adiciona-data">Data:</label>
                <input id="adiciona-data" name="date_buy" type="date" class="campo campo-medio">
            </div>
            <div class="grupo">
                <label for="adiciona-quantidade">Quantidade:</label>
                <input id="adiciona-quantidade" name="quantity" type="text" placeholder="digite quantidade de ações" class="campo campo-medio">
            </div>
            <div class="grupo">
                <label for="adiciona-preco">Preço:</label>
                <input id="adiciona-preco" name="price" type="text" placeholder="digite o preco da ação" class="campo campo-medio">
            </div>
            <!--<div class="grupo">
                <label for="adiciona-corretagem">Corretagem:</label>
                <input id="adiciona-corretagem" name="brokerage" type="text" placeholder="digite o valor da corretagem" class="campo campo-medio">
            </div> -->
            <button id="adiciona-acao" class="botao bto-principal">Adicionar</button>
        </form>
    </section>
    <script src="js/form.js"></script>
    <script src="js/calcula-acao.js"></script>
    <script src="js/busca-ticker.js"></script>
</body>

</html>
